body {
  height: 100vh;
  margin: 0;
  font-family: Roboto, sans-serif;
  background: url("./background.jpg");
  background-size: cover;
  background-attachment: fixed;
}
@font-face {
  font-family: Roboto;
  src: url(./Roboto-Regular.ttf);
}
@font-face {
  font-family: Barrbar;
  src: url(./Barrbar-DOKOR.otf);
}

#content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 100px;
}

header,
footer {
  background-color: black;
  opacity: 0.8;
}

header {
  font-family: Barrbar, sans-serif;
  color: white;
  font-size: 56px;
  padding: 5px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-bar {
  display: flex;
  height: 60%;
}

button {
  font-size: 24px;
  background: rgba(255, 255, 255, 0);

  color: inherit;
  border: none;
  padding: 0 20px;
}

button:hover {
  transform: translateY(-10px);
  transition-duration: 400ms;
}

.header-logo {
  color: white;
  font-style: Barrbar;
}
.main {
  display: flex;
  justify-content: center;
}
footer {
  display: flex;
  justify-content: center;
  font-size: 18px;
  padding: 10px;
}
.footer-link {
  text-decoration: none;
  color: white;
}

.main-content-home,
.main-content-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3%;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  gap: 60px;
  border-radius: 4px;
}
.highlight {
  border-bottom: 1px solid white;
}
/* Home Module CSS*/

.hero-div {
  font-size: 52px;
}
.action-div {
  font-size: 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.action-image {
  height: 300px;
  background: url(https://source.unsplash.com/uAm1CZMdPCw);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 20px;
}
.action-button-div {
  display: flex;
  justify-content: space-around;
}
.action-button {
  border: 1px solid white;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 18px;
  padding: 8px 20px;
}
.action-button:hover {
  transform: scale(1.2);
}

/* Menu Module CSS */
.main-content-menu {
  width: 40%;
}
.menu-title {
  font-size: 52px;
}
.menu-content {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: repeat(2, 1fr);
  gap: 40px;
}
.food-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto;
  gap: 10px;
}
.food-image {
  height: 200px;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 3;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.food-title {
  grid-row-start: 2;
}
.food-price {
  grid-row-start: 2;
  grid-column-start: 2;
  text-align: end;
}
